* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.container{
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: #3498db
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Century Gothic";
    z-index: 9999;
}

.main{
    width: 100%;
    margin: 0;
    padding: 0;
}

.content-slider{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    animation: animate 12s linear infinite;
}

.slider .slide{
    width: 20%;
    height: 100%;
    float: left;
}

.slider .slide .caption{
    letter-spacing: 20px;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    padding: 20px;
    padding-top: 280px;
    text-align: center;
}

.slider .slide.slide1{
    background: url(../img/Slider1.png);
    background-size: cover;
    background-position: center;
}

.slider .slide.slide2{
    background: url(../img/Slider2.png);
    background-size: cover;
    background-position: center;
}

.slider .slide.slide3{
    background: url(../img/Slider4.png);
    background-size: cover;
    background-position: center;
}

.slider .slide.slide4{
    background: url(../img/Slider3.png);
    background-size: cover;
    background-position: center;
}

@keyframes animate{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

.menu {
    padding: 8px;
}

.logo{
    display: inline-block;
    float: left;
    margin: 0;
}

.logo img{
    width: 200px;
    margin: 0;
}

.menu ul {
    float: right;
}

.menu ul li {
    display: inline-block;
    float: left;
}

.menu ul li:not(:first-child) {
    margin-left: 48px;
}

.menu ul li:last-child {
    margin-right: 24px;
}

.menu ul li a {
    padding-top: 20px;
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
    transition: .2s linear;
}

.menu a:hover {
    color: #333;
}

/*our products*/

.services{
    background: #f1f1f1;
    text-align: center;
}

.services h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #3498db;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.service{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 8px;
}

.service:hover{
    background: #ddd;
}

.service img{
    width: 50px;
    margin-bottom: 20px;
}

.service h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.service p{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}

.cen{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.icn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.sm{
    background: rgb(223, 223, 223);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.newsletter{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.4s;
    border-radius: 8px;
    text-align: center;
    align-content: flex-start;
    justify-content: flex-start;
    flex: 1;
}

.newsletter a{
    text-decoration: none;
    color: #000;
}

.newsletter input[type="email"]{
    height: 30px;
    width: 300px;
    font-size: 15px;
    border: none;
    padding: 10px;
}

.newsletter button{
    margin-top: 20px;
    font-family: "Century Gothic";
    font-size: 15px;
    height: 30px;
    width: 300px;
    border: none;
    background: #3498db;
    color: #fff;
    cursor: pointer;
    transition: .4s linear;
}

.newsletter button:hover{
    background: #3eb2ff;
}

.sm h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #3498db;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.icons img{
    height: 40px;
    margin-right: 5px;
}

/*products*/

.gadgets{
    background: #f1f1f1;
}

.laptops{
    padding-top: 130px;

}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.laptops h1{
    text-align: center;
    text-transform: uppercase;
    color: #f1f1f1;
}

.card{
    width: 280px;
    background: #ddd;
    /*position: absolute;*/
    margin: 20px;
}

.top-section{
    height: 260px;
    overflow: hidden;
    background: #fff;
    /*position: relative;*/
}

#image-container{
    width: 280px;
    height: 260px;
}

.navs{
    text-align: center;
}

.navs img{
    width: 80px;
    height: 50px;
    border: 1px solid #ddd;
    margin: 8px 2px;
    cursor: pointer;
    transition: .3s;
}

.nav img:hover{
    border-color: #fff;
}

.price{

    top: 20px;
    right: 20px;
    color: #000;
    font-size: 24px;
}

.product-info{
    padding: 24px;
}

.name{
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
}

.dis{
    font-size: 16px;
    opacity: 0.7;
}

.btn{
    display: block;
    background: #3498db;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover{
    background: #3eb2ff;
}

footer{
    padding: 10px;
    text-align: center;
    background: rgb(223, 223, 223);
}

/*button*/
/*.read-btn{
    padding-top: 10px;
    padding-left: 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background: #fff;
    color: #000;
    width: 160px;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    transition: .6s;
    overflow: hidden;
    border-width: 0;
    font-weight: bold;
}*/

.button .read-btn{
    padding: 15px;
    padding-right: 50px;
    padding-left: 70px;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    transition: .3s;
}

.button .read-btn:hover{
    background: #fff;;
    color: #000;
}

/* Vivo 283 587*/

/*Oppo 269 540*/


@media screen and (max-width: 864px) {
    .logo {
          padding: 15px;
    }

    .slider .slide .caption{
        letter-spacing: 10px;
        font-size: 13px;
        color: #fff;
        padding-top: 300px;
        text-align: center;
    }

    /*.nav-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 50%;
          z-index: -1;
          background: rgba(255, 255, 255, .7);
          opacity: 0;
          transition: all 0.2s ease;
    }*/

    .nav-wrapper ul {
          position: absolute;
          padding-top: 45px;
          width: 100%;
    }

    .nav-wrapper ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
          transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
          transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
          transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
          margin-left: 0;
    }

    .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          color: #000;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition: all 0.2s ease;
          background: rgba(255, 255, 255, .7);
    }

    .nav-btn {
          position: fixed;
          right: 10px;
          top: 10px;
          display: block;
          width: 48px;
          height: 48px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;
    }

    .nav-btn i {
          display: block;
          width: 20px;
          height: 2px;
          background: #fff;
          border-radius: 2px;
          margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
          margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
    }

    .nav-btn i:nth-child(3) {
          margin-top: 4px;
    }

    .service{
        width: 100%;
    }

    .newsletter{
        flex: 1;
        flex-basis: 820px;
    }

    .newsletter input[type="email"]{
        height: 30px;
        width: 280px;
        font-size: 15px;
        border: none;
        padding: 10px;
    }
    
    .newsletter button{
        margin-top: 20px;
        font-family: "Century Gothic";
        font-size: 15px;
        height: 30px;
        width: 280px;
        border: none;
        background: #3498db;
        color: #fff;
        cursor: pointer;
        transition: .4s linear;
    }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}
